.dashboard {
    height: 95vh;
    margin-top: -2vh;
    text-shadow: 2px 2px white
}

li div img {
    height: 400px;
    width: 400px;
}

.list {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.links {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white
}

.list-items {
    margin: 50px;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}