li div img {
    height: 400px;
    width: 400px;
}

.list {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.list-items {
    margin: 50px;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}